<div class="me-section">
  <div class="horizontal me-header">
    <img class="user-logo" src="img/original.jpeg"/>
    <div class="vertical">
      <h1>Geogri Ivanov</h1>
      <p>@geogri</p>
      <p>1372 trips, 1743 plans</p>
    </div>
  </div>

  <div class="flex horizontal">
    <div class="flex1 me-nav vertical">
      <!-- for loop TODO -->
      @@if (selectedItem === 'trips') {
        <a href="trips.html" class="bold">Trips</a>
      }
      @@if(selectedItem !== 'trips') {
        <a href="trips.html">Trips</a>
      }

      @@if (selectedItem === 'search') {
        <a href="search.html" class="bold">Search</a>
      }
      @@if(selectedItem !== 'search') {
        <a href="search.html">Search</a>
      }

      @@if (selectedItem === 'services') {
        <a href="services.html" class="bold">Services</a>
      }
      @@if(selectedItem !== 'services') {
        <a href="services.html">Services</a>
      }
      @@if (selectedItem === 'companies') {
        <a href="companies.html" class="bold">Companies</a>
      }
      @@if(selectedItem !== 'companies') {
        <a href="companies.html">Companies</a>
      }
      @@if(selectedItem !== 'users') {
        <a href="me_users.html">Users</a>
      }


    </div>
    <div class="flex3 me-content">
      <hr>
