<div id="hero-image">
  <div class="wrapper">
      <h2><strong>Organize</strong> your travel<br/>
      plans in <strong>one</strong> place.</h2>
      <a href="#" class="button-1">Try it out</a>
  </div>
</div>

<div id="features">
  <div class="wrapper">
      <ul>
          <li class="feature-1">
              <h4>Feature 1</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
          </li>
          <li class="feature-2">
              <h4>Feature 2</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
          </li>
          <li class="feature-3">
              <h4>Feature 3</h4>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam mollis turpis ac libero interdum, id fringilla purus feugiat. Etiam malesuada mattis nibh at bibendum.</p>
          </li>
          <div class="clear"></div>
      </ul>
  </div>
</div>