<div class="hidden" id="modify-trip-checklist">
  <p>(2.5) - Потребител създава чеклист с необходими неща, задава аларми и нотификации за себе си и екипа на пътуване. Добавя в списък „застраховка от компания Х “, което автоматично праща заявка към застраховаща компания.</p>

  <ul class="trip-checklist">
    <li class="">
      <div class="flex space-around horizontal">
        <p>short description</p>
        <p>til: 22.09.2018</p>
        <div class="flex flex-end horizontal">

          <i class="fa fa-check"></i>
          <i class="fa fa-trash"></i>
        </div>
      </div>
    </li><li class="">
      <div class="flex space-around horizontal">
        <p>short description</p>
        <p>til: 22.09.2018</p>
        <div class="flex flex-end horizontal">

          <i class="fa fa-check"></i>
          <i class="fa fa-trash"></i>
        </div>
      </div>
    </li><li class="">
      <div class="flex space-around horizontal">
        <p>short description</p>
        <p>til: 22.09.2018</p>
        <div class="flex flex-end horizontal">

          <i class="fa fa-check"></i>
          <i class="fa fa-trash"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
