<div class="trip-cost">
  <p>Summary costs</p>
    <!-- (p 2.10)</p> -->
  <ul id="trip_cost_list">
    <li>
      <div class="flex horizontal space-between trip_cost_item">
        <p class="flex3">Taxi</p>
        <p class="flex1">|</p>
        <p class="flex3">by: Uber</p>
        <p class="flex1">|</p>
        <p class="flex3">50$</p>
        <i class="fa fa-trash" style="width:10px;height:10px;padding:0;margin:0;"></i>
      </div>
    </li>
    <li>
      <div class="flex horizontal space-between trip_cost_item">
        <p class="flex3">Air ticked</p>
        <p class="flex1">|</p>
        <p class="flex3">by: Aviasales</p>
        <p class="flex1">|</p>
        <p class="flex3">250$</p>
        <i class="fa fa-trash" style="width:10px;height:10px;padding:0;margin:0;"></i>
      </div>
    </li>
    <li>
      <div class="flex horizontal space-between trip_cost_item">
        <p class="flex3">House rent</p>
        <p class="flex1">|</p>
        <p class="flex3">by: Airbnb</p>
        <p class="flex1">|</p>
        <p class="flex3">500$</p>
        <i class="fa fa-small-btn fa-trash"></i>
      </div>
    </li>

      <li>
        <div class="flex horizontal flex-end trip_cost_item" id="cost_final">
          <p>Summary:</p>
          <p>50$</p>
        </div>
      </li>

  </div>
