
<div class="hidden" id="modify-trip-services">
  <ul id="trip_services_list">
    <li>
      <div class="flex horizontal space-between trip_service_item">
        <img src="img/uber.png"/>
        <!-- <div class="flex vertical"> -->
          <h5>Uber</h5>
          <p>|</p>
          <p>service: Taxi</p>
          <p>|</p>
          <p>40935 clients</p>
        <!-- </div> -->
      </div>
    </li>
    <li>
      <div class="flex horizontal space-between trip_service_item">
        <img src="img/aviasales.jpg"/>
        <!-- <div class="flex vertical"> -->
          <h5>Aviasales</h5>
          <p>|</p>
          <p>service: Air tickets</p>
          <p>|</p>
          <p>20245 clients</p>
        <!-- </div> -->
      </div>
    </li>
    <li>
      <div class="flex horizontal space-between trip_service_item">
        <img src="img/jump.jpg"/>
        <!-- <div class="flex vertical"> -->
          <h5>JUMP</h5>
          <p>|</p>
          <p>service: Bike share</p>
          <p>|</p>
          <p>8459 clients</p>
        <!-- </div> -->
      </div>
    </li>

  </ul>
</div>
