<div class="hidden" id="modify-trip-tasks">
  <!-- <p>Tasks to be done while a trip(2.7) -
    Ако потребител има дейности които бих искал да извърши
    по време на пътуване си, то той създава списък с задачи които
    имат крайна дата за изпълнение и приоритет.
    По време на пътуване потребител получава нотификации за тези дейности.</p> -->
<p>TODO list for your trip.</p>
<p>set priority, deadline and notifications for these TODOs</p>
  <ul class="trip-checklist">
    <li class="">
      <div class="flex space-between horizontal">
        <input  class="flex2" type="text" value="meet Christopher"/>
        <p class="flex2">til 23.09.2018</p>
        <div class="flex flex2 flex-end horizontal">
          <i class="fa fa-clock-o"></i>
            <i class="fa fa-check"></i>
            <i class="fa fa-trash"></i>
        </div>
      </div>
    </li>
    <li class="">
      <div class="flex space-between horizontal">
        <input class="flex2" type="text" value="try national food"/>
        <p class="flex2">til 29.08.2018</p>
        <div class="flex flex2 flex-end horizontal">
          <i class="fa fa-clock-o"></i>
          <i class="fa fa-check"></i>
          <i class="fa fa-trash"></i>
        </div>
      </div>
    </li>
  </ul>
</div>
