<div class="hidden" id="modify-trip-transport">
  <p>Select transport(2.4)</p>
  <select name="transport-list">
    <option value="own">own</option>
    <option value="rent-a-car">rent-a-car</option>
    <option value="taxi">taxi</option>
    <option value="bike">bike</option>
  </select>

list of transport (filter by selected value)
  <ul class="">
    <li class="">
      <div class="flex space-around horizontal">
        <p>short description</p>
        <p>til: 22.09.2018</p>
          <i class="fa fa-check"></i>
          <i class="fa fa-trash"></i>
      </div>
    </li>
  </ul>
</div>
