header {
  height: 120px;
}
header h1 {
  flex: 2 auto;
  margin-top: 32px;
}
header h1 .color {
  color: #02b8dd;
}
header nav {
  float: left;
}
header nav ul li {
  float: left;
  display: inline-block;
  margin-top: 50px;
}
header nav ul li a {
  color: #444;
  text-transform: uppercase;
  font-weight: bold;
  display: block;
  margin-right: 20px;
}