$nav-inactive-color: #888;

.me-header {
  background: #444;
  border-radius: 3px;
  padding: 20px 20px;
  color: white;
}

.me-header{
	display: flex;
	flex-direction: row;
}

.me-header .user-logo {
	margin-right: 20px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.me-nav a {
	color: $nav-inactive-color;
	text-decoration: none;
	margin: 15px 20px;
}

.me-nav a:hover {
	color: #333;
}




@media (max-width: 769px) {
  .me-content {
    flex-flow: column;
    justify-content: flex-start;
  }
  .me-nav > a {
    text-align: center;
  }
}
