$color-trip-grey: #F9F9F9;
div.trip {
  text-align: center;
  border-radius: 3px;
  background: $color-trip-grey;
  height: 100%;
  width: 100%;
  padding: 50px 50px;
}

div.trip .btn {
  width: 100px;
}

div.trip hr {
  margin: 20px 0;
}

div.trip .selected {
  color: #999;
  cursor: pointer;
}

.trip-navigation .hidden {
  display: none;
}


.trip-checklist .fa {
  padding: 0;
}
