<div id="hero-image">
  <div class="wrapper">
      <h2><strong>Organize</strong> your travel<br/>
      plans in <strong>one</strong> place.</h2>
      <a href="demo.html" class="button-1">Try it out</a>
  </div>
</div>

<div id="features">
  <div class="wrapper">
      <ul>
          <li class="feature-1">
              <h4>One site</h4>
              <p>Everything from choosing a destination to booking a hotel room is done in a sigle place.</p>
          </li>
          <li class="feature-2">
              <h4>Bulk payment</h4>
              <p>Pay all your trip expenses in a single payment.</p>
          </li>
          <li class="feature-3">
              <h4>Exporting</h4>
              <p>Export your travel information to google maps, google calendar and more.</p>
          </li>
      </ul>
  </div>
</div>
