<form action="done.html" class="ui-form">
	<h3>Apply as a company</h3>
	<div class="form-row">
		<input type="text" id="email" required autocomplete="off"><label for="email">Email</label>
	</div>
	<div class="form-row">
		<input type="text" id="name" required autocomplete="off"><label for="name">Company name</label>
	</div>
	<div class="form-row">
		<input type="text" id="location" required autocomplete="off"><label for="location">Location</label>
	</div>
	<div class="form-row">
		<input type="text" id="service" required autocomplete="off"><label for="service">Type of service</label>
	</div>
	<p><input type="submit" value="Apply"></p>
</form>
