<!-- Add icon library -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="me-section">
<div class="me-content">
  <a href="trips.html" class="bold">Back to Trips</a>
  <div class="flex3">
    <div class="trip">
      <div class="flex space-between vertical">
        <a>
          <img class="flex1 trip-logo" src="img/some_logo.jpeg"/>
        </a>
        <div class="flex3 trip-content flex vertical">
          <a><h4>Trip to Asia</h4></a>
          <p>short description</p>
          <p>created : 22.01.2016</p>
        </div>
        <div class="flex flex1 horizontal trip-buttons space-around">
          <a class="btn">remove</a>
          <a class="btn">share</a>
        </div>
        <hr>
        <div class="trip-long-content">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
          </p>
        </div>
        <hr>
        <div class="trip-navigation">
          <nav id="trip-tabs" class="flex horizontal space-around">
            <a onclick="changeTab(this, 'modify-trip-scenario')" class="selected">Scenario</a>
            <a onclick="changeTab(this, 'modify-trip-transport')">Transport</a>
            <a onclick="changeTab(this, 'modify-trip-checklist')">Checklist</a>
            <a onclick="changeTab(this, 'modify-trip-services')">Services</a>
            <a onclick="changeTab(this, 'modify-trip-tasks')">Tasks</a>
            <a onclick="changeTab(this, 'modify-trip-travelers')">Travelers</a>
          </nav>

          <div id="fragments">
          @@include('./trip/scenario.html')
          @@include('./trip/transport.html')
          @@include('./trip/checklist.html')
          @@include('./trip/services.html')
          @@include('./trip/tasks.html')
          @@include('./trip/travelers.html')
          </div>
        </div>
        <hr>
        @@include('./trip/cost.html')
        <hr>
        @@include('./trip/integrations.html')
        <hr>
        @@include('./trip/reviews.html')
      </div>
    </div>

  </div>
</div>
</div>
