<div class="me-section">
  <!-- <div class="horizontal me-header">
    <img class="user-logo" src="img/original.jpeg"/>
    <div class="vertical">
      <h1>Geogri Ivanov</h1>
      <p>@geogri</p>
      <p>1372 trips, 1743 plans</p>
    </div>
  </div> -->
  <div class="flex horizontal me-content">
    <div class="flex1 me-nav vertical">
      <a href="trips.html" class="bold">Trips</a>
      <a href="#">Plans</a>
      <a href="#">Explore</a>
      <a href="#">Setting</a>
      <a href="#">Ensur</a>
    </div>
    <div class="flex3">
      <div class="trip">
        <div class="flex space-between vertical">
          <a>
            <img class="flex1 trip-logo" src="img/some_logo.jpeg"/>
          </a>
          <div class="flex3 trip-content flex vertical">
            <a><h4>Trip to Asia</h4></a>
            <p>short description</p>
            <p>created : 22.01.2016</p>
          </div>
          <div class="flex flex1 horizontal trip-buttons">
            <a class="btn">remove</a>
            <a class="btn">share</a>
          </div>
          <hr>
          <div class="trip-long-content">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
